<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/jeu.css' />
    <script src="//use.edgefonts.net/cutive.js"></script>
  </head>
  <body>
    <div id="plateau"></div>
    <div id="joueur"></div>
    <div id="cards"></div>
    <div id="hand"></div>
    <div id="messages">
    	<h4>Messages</h4>    	
    	<div>
    	</div>
    </div>
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/js/kinetic-v4.7.2.min.js"></script>
    <script src="/js/dosiride.js"></script>
  </body>
</html>
